ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: hidden;
  background-color: aqua;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(255, 255, 255, .70);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

p {
  font-size: 22px;
  border-style: dot-dash;
  border-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-align: center;
  padding-top: -60px;
  padding-bottom: 30px;
}



li a:hover {
  background-color: rgb(205, 229, 226);
}

.circleEffect {
  width: 40%;
  max-width: 100px;
  height: auto;
  border-radius: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;


}

.techStack {
  width: 56%;
  max-width: 300px;
  height: auto;
  border-radius: 40%;
  margin-left: auto;
  display: grid;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: aqua;
  bottom: -20px;
}

.fa {
  color: black;


}


h1 {
  font: bold 200% Consolas, Monaco, monospace;
  color: black;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: -30px;

}


div{
  padding: 20px;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-align: center;
  margin: auto;
  font-size: 2vw;
  position: relative;
  background-color: aqua;
  padding: 20px;
  top: -60px;

}

h3{
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-align: center;
  margin: auto;
  font-size: 2vw;
  position: relative;
  background-color: aqua;
  padding: 20px;
}

h4{
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-align: center;
  margin: auto;
  font-size: 2vw;
  position: relative;
  background-color: aqua;
  padding: 20px;
  top: -40px;
  bottom: -40px;


}


.text {
  white-space: normal;
  overflow: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2vw;
  color: rgba(14, 14, 14, 0.7);
  margin: 0 auto;
  text-align: center;
}

.text2{
  white-space: normal;
  overflow: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;


  text-align: justify;
}

.footerText {
  white-space: normal;
  overflow: auto;
  font-family: 'Source Code Pro', monospace;
  color: black;
  text-align: center;
  padding-top: 40px;
  background-color: aqua;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {
  float: left;
  width: 20%;
  padding: 3px;
}

.columnTwo {
  float: left;
  width: 25%;
  padding: 5px;
}


/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;
}




@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}
